<div class="full-container-of-the-dashboard">
<h1>My Orders</h1>

<h2>Money Losers</h2>
<table style="width:100%">
  <tr>
    <th>Game</th>
    <th>Owner</th>
    <th>From</th>
    <th>To</th>
    <th>Total Time</th>
    <th>Rental Total</th>
  </tr>

  <% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.game.title %></td>
    <td><%= booking.game.user.username %></td>
    <td><%= booking.start_date %></td>
    <td><%= booking.end_date %></td>
    <%n_days=booking.end_date - booking.start_date %>
    <td><%= n_days.to_i %></td>
    <td><%= n_days.to_i * booking.game.price %></td>
  </tr>
<% end %>
</table>

<h2>Money Makers</h2>

<table style="width:100%">

  <tr>
    <th>Game Title</th>
    <th>Rented to</th>
    <th>From</th>
    <th>To</th>
    <th>Total Time</th>
    <th>Money Made</th>
  </tr>
  <% @bookings_received.each do |booking| %>
    <%if booking.game.user.email == current_user.email  %>
    <tr>
      <td><%= booking.game.title %></td>
      <td><%=booking.user.username%></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <%n_days=booking.end_date - booking.start_date %>
      <td><%= n_days.to_i %></td>
      <td><%= n_days.to_i * booking.game.price %></td>
    </tr>
    <% end %>
  <% end %>
</table>
</div>
