<div class="mt-5"></div>
<div class="container mt-5">
<h1 class="mt-4 mb-4">My Orders</h1>
<ul class="nav nav-tabs list-inline tabs-underlined mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active tab-underlined" id="mygames-tab" data-toggle="tab" href="#mygames" role="tab" aria-controls="mygames" aria-selected="true">My Games</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link tab-underlined" id="renting-tab" data-toggle="tab" href="#renting" role="tab" aria-controls="renting" aria-selected="false">Current Rentals</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link tab-underlined" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">Rental History</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="mygames" role="tabpanel" aria-labelledby="mygames-tab">
    <div class="mb-2 mt-4  p-5 info-section">
      <div>



        <h4>Put here the games that this person has uploaded</h4>




      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="renting" role="tabpanel" aria-labelledby="renting-tab">
    <div class="mb-2 mt-4  p-5 info-section">
      <div>



        <h4>Games that this user is busy renting</h4>





      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
    <div class="mb-2 mt-4  p-5 info-section">
      <div>



        <h4>Games that this user has rented in the past, if possible</h4>




      </div>
    </div>
  </div>
</div>





<h2>Money Losers</h2>
<table style="width:100%">
  <tr>
    <th>Game</th>
    <th>Owner</th>
    <th>From</th>
    <th>To</th>
    <th>Total Time</th>
    <th>Rental Total</th>
  </tr>

  <% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.game.title %></td>
    <td><%= booking.game.user.username %></td>
    <td><%= booking.start_date %></td>
    <td><%= booking.end_date %></td>
    <%n_days=booking.end_date - booking.start_date %>
    <td><%= n_days.to_i %></td>
    <td><%= n_days.to_i * booking.game.price %></td>
  </tr>
<% end %>
</table>

<h2>Money Makers</h2>

<table style="width:100%">

  <tr>
    <th>Game Title</th>
    <th>Rented to</th>
    <th>From</th>
    <th>To</th>
    <th>Total Time</th>
    <th>Money Made</th>
  </tr>
  <% @bookings_received.each do |booking| %>
    <%if booking.game.user.email == current_user.email  %>
    <tr>
      <td><%= booking.game.title %></td>
      <td><%=booking.user.username%></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <%n_days=booking.end_date - booking.start_date %>
      <td><%= n_days.to_i %></td>
      <td><%= n_days.to_i * booking.game.price %></td>
    </tr>
    <% end %>
  <% end %>
</table>
</div>
