<div class="mt-5"></div>
<div class="container mt-5">
<h1 class="mt-4 mb-4">My Orders</h1>
<ul class="nav nav-tabs list-inline tabs-underlined mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active tab-underlined" id="mygames-tab" data-toggle="tab" href="#mygames" role="tab" aria-controls="mygames" aria-selected="true">My Games</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link tab-underlined" id="renting-tab" data-toggle="tab" href="#renting" role="tab" aria-controls="renting" aria-selected="false">Current Rentals</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="mygames" role="tabpanel" aria-labelledby="mygames-tab">
    <div class="mb-2 mt-4  p-5 info-section">
      <div>
        <% @games.each do |game| %>
        <div class="card-product">
          <%= cl_image_tag game.photo.key %>
          <div class="card-product-infos">
            <h2><%= game.title %></h2>
            <p><%= game.description %></p>
          </div>
        </div>
        <% end  %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="renting" role="tabpanel" aria-labelledby="renting-tab">
    <div class="mb-2 mt-4  p-5 info-section">
      <div>
        <% @bookings.each do |booking| %>
        <div class="card-product">
          <%= cl_image_tag booking.game.photo.key %>
          <div class="card-product-infos">
            <%n_days=booking.end_date - booking.start_date %>
            <h2><%= booking.game.title %></h2>
            <p><%= booking.start_date %><strong> until </strong><%= booking.end_date %>, at <%= n_days.to_i * booking.game.price %> Euros</p>
          </div>
        </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>
</div>
