<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/assets/images/home-page-banner01.jpg); ">
  <div class="container">
    <h1>It's GameTime baby!</strong>!</h1>
    <p>Find and rent a game to play at home with your friends</p>
    <button class="button-game-home-page"><%= link_to 'Games', games_path %></button>
  </div>
</div>

      <!--Category row-->
      <div class="div-category-home-page">
        <div class="boxing-div-category-home-page">
          <div class="content-div-category-home-page">
              <div class="category"><%= image_tag("category01.jpg", :alt => "category01") %></div>
          </div>
          <div class="content-div-category-home-page clearfix d-none d-md-block">
              <div class="category"><%= image_tag("category01.jpg", :alt => "category01") %></div>
          </div>
          <div class="content-div-category-home-page clearfix d-none d-md-block">
              <div class="category"><%= image_tag("category01.jpg", :alt => "category01") %></div>
          </div>
        </div>
      </div>
      <!--/.Category row-->

      <!--Top Games row-->
  <!-- <div class="index-games-show">
  <% @games[0..3].each do |game| %>
  <div class="div-game-show">
    <div class="picture-of-the-div-game-show">
      <%= image_tag("/assets/boardGame.jpeg") %>
    </div>
    <div class="content-of-the-div-game-show">
      <div class="content-of-the-div-game-show-p">
        <p>Title :<%= game.title %></p>
        <p>Difficulty :<%= game.difficulty %></p>
        <p>Players require:<%= game.player_count %></p>
        <p>Play Time :<%= game.play_time %></p>
        <p>Price :<%= game.price %></p>
      </div>
    </div>
  </div>
<% end %>
</div>-->
