<h1>Games</h1>

<div class="index-games-show">
<% @games.each do |game| %>
  <div class="div-game-show">
    <div class="picture-of-the-div-game-show">
      <%= image_tag("/assets/image-random-boardGame.jpeg") %>
    </div>
    <div class="content-of-the-div-game-show">
      <%= game.title %>
      <%= game.difficulty %>
      <%= game.player_count %>
      <%= game.play_time %>
      <%= game.price %>
    </div>
  </div>
    <% end %>
</div>


<br>
<%# <% if policy(Restaurant).create? %> %>
  <%= link_to 'New Game', new_game_path %>
<%# <% end %> %>
