<%# body div for the page %>
<div class="body-main-index-page">
  <div class="back-button-link">
    <%= link_to 'javascript:history.go(-1);' do %>
      <div class="back-button">
        <p>Back</p>
      </div>
    <% end %>
  </div>
  <%# top games on the top %>
  <h1 class="top-games-title mt-2">Top games featured</h1>
  <div class="top-games-index-page">
    <%# banner featured game %>
    <div class="banner-top-feature-game-index bg-img-banner">
      <%= link_to game_path(@featured_game) do %>
      <div class="banner-feature-content-game-index">
        <div class="banner-feature-content-game-index-bg">
        <h1><%= @featured_game.title %></h1>
        <p><%= @featured_game.description %></p>
        </div>
      </div>
    <% end %>
  </div>

    <%# side featured games %>
  <div class="side-game-feature-game-index">
    <% @games[0..2].each do |game| %>
      <div class="div-game-index">
        <%= link_to game_path(game) do %>
        <div class="content-of-the-div-game-index  bg-img-banner">
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
  </div>


    <%# cards category div bottom %>
  <h1 class="top-games-title mt-5">Categories</h1>
  <div class="category-main-div-game-index">
    <% @categories.each do |category| %>
    <%= link_to category_path(category) do %>
    <div class="category-layout-design-category-game-index">
      <p><%= category.name %></p>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
