<!------------------------------- this is th eback button part ---------->
        <div class="back-button-link">
          <%= link_to 'javascript:history.go(-1);' do %>
            <div class="back-button">
              <p>Back</p>
            </div>
          <% end %>
        </div>
<!------------------------------- this is th eback button part ---------->
<!----------------------------------- body div for the page ------------------------>
<div class="body-main-index-page">
  <%# top games on the top %>
  <h1 class="top-games-title">Top games featured</h1>
  <div class="top-games-index-page">
    <%# banner featured game %>
    <div class="banner-top-feature-game-index">
      <%= link_to game_path(@featured_game) do %>
      <div class="banner-feature-content-game-index">
        <%= image_tag @featured_game.photo %>
        <div class="banner-feature-content-game-index-bg">
        <h1><%= @featured_game.title %></h1>
        <p><%= @featured_game.description %></p>
        </div>
      </div>
    <% end %>
  </div>

    <%# side featured games %>
  <div class="side-game-feature-game-index">
    <% @games[0..3].each do |game| %>
      <div class="parent-content-of-the-div-game-index">
        <%= link_to game_path(game) do %>
          <div class="content-of-the-div-game-index">
            <%= image_tag game.photo %>
              <div class ="child-content-of-the-div-game-index">
                <%= game.title %>
              </div>
            </div>
      <% end %>
      </div>
    <% end %>
  </div>
  </div>


    <%# cards category div bottom %>
  <h1 class="top-games-title mt-5">Categories</h1>
  <div class="category-main-div-game-index">
    <% @categories.each do |category| %>
      <div class="parent-category-layout-design-category-game-index">
        <%= link_to category_path(category) do %>
          <div class="category-layout-design-category-game-index">
            <%= cl_image_tag category.photo %>
            <div class="child-category-layout-design-category-game-index">
            <p><%= category.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
