<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new game</h3>
        <%= simple_form_for @game do |f| %>
          <%= f.input :title, placeholder: 'Catan' %>
          <%= f.input :difficulty, placeholder: 'Hard' %>
          <%= f.input :player_count, placeholder: '2' %>
          <%= f.input :play_time, placeholder: '2 hrs' %>
          <%= f.input :price, placeholder: 'Hard' %>
          <%= f.input :description, placeholder: 'Conquer the universe blablabla.' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
