<div class="container mt-5 mb-5 w-1000 p-4 game-show">

  <div class="show-title d-flex justify-content-between">
    <h1 class="mb-4"><%= @game.title %></h1>
    <div class="show-buttons">
      <% if @game.user_id == current_user.id %>
        <%= "" %>
      <% else %>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#gameModal">
        Rent now
       </button>
      <% end %>
    </div>
    <%= render 'modal_new', game: @game, booking: @booking %>
  </div>

  <div class="d-flex justify-content-around mb-4">
    <div class="game-img">
      <% if @game.photo.attached? %>
        <%= cl_image_tag @game.photo.key, height: 400, width: 500, crop: :fill %>
      <% else %>
        <%=image_tag "Catan.jpg", height: 400, class: "game-img" %>
      <% end %>
    </div>
    <div class="tabs-section mr-4">
      <ul class="nav nav-tabs list-inline tabs-underlined mb-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active tab-underlined" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link tab-underlined" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Details</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link tab-underlined" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Reviews</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link tab-underlined" id="maper-tab" data-toggle="tab" href="#maper" role="tab" aria-controls="maper" aria-selected="false">Map</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="mb-2 mt-4  p-5 info-section">
            <div>
              <h4>Description</h4>
              <p class="game-description"> <%=@game.description  %></p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="mb-2 mt-4  p-5 info-section">
              <div class="game-features">
                <h4>Game Features</h4>
                <ul>
                  <li>
                  <i class="fas fa-users fa-lg"></i>
                  <%= @game.player_count %> +
                  </li>
                  <li>LEVEL:
                  <% @game.difficulty.times do  %>
                    <i class="fas fa-crown fa-lg"></i>
                    <% end %>
                  <% (5 - @game.difficulty).times do  %>
                    <i class="fas fa-crown fa-lg crown-opa"></i>
                    <% end %>
                  </li>
                  <li>Play time: <%= @game.play_time.round(1) %>hours</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="mb-2 mt-4  p-5 info-section">
              <%= link_to "Add Review", new_game_review_path(@game), class: "btn button-game-home-page mt-4" %>
              <% @reviews.each do |review|  %>
                <div class="notification mt-4">
                  <%= image_tag "icon-navbar-gametime.png", class: "avatar-large" %>
                  <div class="notification-content">
                    <p><small><%= review.rating %> stars</small></p>
                    <p><%= review.comment %></p>
                  </div>

                  <div class="notification-actions">
                    <%= link_to 'Delete', review_path(review), method: :delete, class: "far fa-trash-alt" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="maper" role="tabpanel" aria-labelledby="map-tab">
            <div class="mb-2 mt-4  p-5 info-section">
                <div id="map"
              style="width: 100%; height: 600px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
