<div class="container mt-5 mb-5 w-1000 p-4 game-show">
  <h1 class="mb-4"><%= @game.title %></h1>
  <div class="d-flex justify-content-between mb-4">
    <div class="game-img">
      <% if @game.photo.attached? %>
        <%= cl_image_tag @game.photo.key, height: 400, width: 500, crop: :fill %>
      <% else %>
        <%=image_tag "Catan.jpg", height: 400, class: "game-img" %>
      <% end %>
    </div>
    <div class="w-80 mr-5 rent-form">
      <h3 class="header mb-0 pt-3">Rent Game</h3>
      <form class="simple_form new_booking" id="new_booking" novalidate="novalidate" action="/instruments/355/bookings" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="hlOBw8Jsq0ln2p8IbVxMQwPZzOM1PdhRckLMy7TMqiaMIc8aj9AFmWyHvSyYrAxdiSB80ne4/Bt6kjZRWCP7Rg==">
        <div class="form_inputs my-4 mb-5">
          <div class="form-group string required booking_start_date"><label class="form-control-label string required" for="booking_start_date">From: <abbr title="required">*</abbr></label><input class="form-control string required datepicker flatpickr-input" required="required" aria-required="true" type="hidden" name="booking[start_date]" id="booking_start_date" readonly="readonly"><input class="form-control string required datepicker flatpickr-input flatpickr-mobile" step="any" tabindex="1" type="date" required="" placeholder=""></div>
          <div class="form-group string required booking_end_date"><label class="form-control-label string required" for="booking_end_date">To: <abbr title="required">*</abbr></label><input class="form-control string required datepicker flatpickr-input" required="required" aria-required="true" type="hidden" name="booking[end_date]" id="booking_end_date" readonly="readonly"><input class="form-control string required datepicker flatpickr-input flatpickr-mobile" step="any" tabindex="1" type="date" required="" placeholder=""></div>
        </div>

        <div class="form_actions mb-4 px-4">
            <input type="submit" name="commit" value="Currently unavailable" class="btn btn btn-info btn-block" disabled="disabled" data-disable-with="Currently unavailable">
        </div>
      </form>
    </div>
  </div>
  <%# <ul class="list-inline tabs-underlined mb-3">
    <li>
      <a href="#" class="tab-underlined active">Description</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Game Details</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Reviews</a>
    </li>
  </ul> %>

<ul class="nav nav-tabs list-inline tabs-underlined mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active tab-underlined" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link tab-underlined" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Details</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link tab-underlined" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Reviews</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="mb-2 mt-4  p-5 info-section">
      <div>
        <h4>Description</h4>
        <p class="game-description"> <%=@game.description  %></p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="mb-2 mt-4  p-5 info-section">
        <div class="game-features">
          <h4>Game Features</h4>
          <ul>
            <li>
            <i class="fas fa-users fa-lg"></i>
            <%= @game.player_count %> +
            </li>
            <li>Difficulty:
            <% @game.difficulty.times do  %>
              <i class="fas fa-crown fa-lg"></i>
              <% end %>
            <% (5 - @game.difficulty).times do  %>
              <i class="fas fa-crown fa-lg crown-opa"></i>
              <% end %>
            </li>
            <li>Play time: <%= @game.play_time.round(1) %>hours</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <%= link_to "Add Review", new_game_review_path(@game), class: "btn button-game-home-page mt-4" %>
        <% @reviews.each do |review|  %>
          <div class="notification">
            <img src='https://thumbs.dreamstime.com/b/popcorn-striped-basket-eps-vector-illustration-white-background-64124737.jpg' class="avatar-large"/>
            <div class="notification-content">
              <p><small><%= review.rating %> stars</small> reviewed at <% review.created_at  %></p>
              <p><%= review.comment %></p>
            </div>

            <div class="notification-actions">
              <%= link_to 'Delete', review_path(review), method: :delete, class: "far fa-trash-alt" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>



    <div class="show-buttons">
      <% if @game.user_id == current_user.id %>
        <%= "" %>
      <% else %>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#gameModal">
        Rent now
       </button>
      <% end %>
    </div>
    </div>
  </div>
  <%= render 'modal_new', game: @game, booking: @booking %>

</div>
